.appview-container {
  background-image: url("https://wallpaperaccess.com/full/1216312.jpg");
  background-size: cover;
  background-position: center;
}

button {
  background-color: transparent;
}
#tabs-bui9-tab-0 {
  background-color: transparent;
}
#tabs-bui9-tab-1 {
  background-color: transparent;
}
#tabs-bui8-tab-0 {
  background-color: transparent;
}
#tabs-bui8-tab-1 {
  background-color: transparent;
}

.css-vk3wp9 {
  background-image: url("https://wallpaperaccess.com/full/1483382.jpg");
  background-size: cover;
  background-position: top left;
}

footer {
  visibility: hidden;
}

.css-1offfwp {
  color: #080808;
}

.element-container {
  color: #b75b5b;
  font-weight: bold;
}

.css-184tjsw.e16nr0p34 {
  color: #b75b5b;
  font-weight: bold;
}

h3 {
  color: #b75b5b;
  font-weight: bold;
}
.css-184tjsw {
  color: #000000;
  font-weight: bold;
}
.css-zt5igj {
  color: #460101;
  font-weight: bold;
  font-size: 24px;
}
.css-1offfwp.e16nr0p34 {
  color: #b75b5b;
  font-weight: bold;
  font-size: 24px;
}

.css-1544g2n {
  margin-top: 0;
  padding-top: 0;
}
